<div class="container">
    <!-- <div class="row mt-5 justify-content-center ">
        <div class="col-md-4 ">
            <div class="item">
                <div class="col-md-3 float-left">
                    <div class="icon">
                        <i class="fas fa-car"></i>
                    </div>
                </div>
                <div class="col-md-9  float-left">
                    <h4>Total Vehicle: <br> {{totalVehicle}} </h4>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="item">
                <div class="col-md-3 float-left">
                    <div class="icon">
                        <i class="fas fa-user"></i>
                    </div>
                </div>
                <div class="col-md-9  float-left">
                    <h4>Total User: <br> 505</h4>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="item">
                <div class="col-md-3 float-left">
                    <div class="icon">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>
                <div class="col-md-9  float-left">
                    <h4>Total Order: <br> 775 </h4>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row mt-5" > 
        <div class="col-md-8 ">
            <div class="form-group ">
                <input placeholder="" (keyup)="onSearch($event) "type="text" class=" search form-control-lg form-control">
                <div class="searchicon" [style.display]=" icon ? 'none': 'block' ">
                     <i class="fas fa-search"></i> Search.. </div>
            </div>
        </div>
        <div class="col-md-4"> 
            <div class="form-group">
                <select (change)="filter($event)" class="form-control form-control-sm mt-3">
                        <option value="" >Sort By</option>
                        <option value="edate" >Entry Date </option>
                        <option value="ldate" >Leave Date </option>
                        <option value="waiting" >Waiting </option>
                        <option value="release" >Release </option>
                </select>
           
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-5 mt-5 pt-3">
        <div class="col-md-11 item-list" >
            <table class="table "> 
                <thead>
                    <tr>
                        <th></th>
                        <th>Vehicle Id</th>
                        <th>Vehicle Name</th>
                        <th>Customer Name</th>
                        <th>Customer Addres</th>
                        <th>Entry Date </th>
                        <th>Leave Date </th>
                        <th>Status </th>
                    </tr>
                </thead>
                <tr *ngFor="let vehicle of vehicleList; let i=index">
                
                   
                    <td ><span class="statusColor" [style.background]=" vehicle.status ? '#6ab04c': '#ff9f43'"></span></td>
                    <td>{{vehicle.id}} </td>
                    <td> {{vehicle.vhname}} </td>
                    <td> {{vehicle.customerName}}</td>
                    <td>{{vehicle.customerAddress}}</td>
                    <td> {{vehicle.entrydate | date}}</td>
                    <td> {{vehicle.releaseDate | date}}</td>
                    <td> {{vehicle.status ? 'Waiting': 'Release '}}</td>
                    <td style="cursor:pointer" (click)="editItem(i)"><i class="fas fa-pencil-alt"></i></td>
                    <td style="cursor:pointer" (click)="deleteitem(i)"><i class="far fa-trash-alt"></i></td>
                </tr>
       
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>